body {
	/* W3C Markup, IE10 Release Preview */
	background-image: radial-gradient(ellipse farthest-side at center top, #AEA79F 0%, #2C001E 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#pageContainer {
	width: 95%;
	padding: 0.5em;
	margin: 2em auto;
	background-color: #C23F12;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#adminPanel {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 1em;
	width: 100%;
	margin: 0 auto;
	background-color: #DBD2AB;
	border: solid #969089;
	border-width: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*	-webkit-box-shadow: #D1D2C5 2px 2px 2px;
	 -moz-box-shadow: #D1D2C5 2px 2px 2px;
	 box-shadow: #D1D2C5 2px 2px 2px;*/
}

#header {
	width: 99%;
	height: 100px;
	margin: 0 auto;
	padding: 0.2em;
	position: relative;
	background-color: #DBD2AB;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: solid #969089;
	border-width: 1px;
}
#header p.logo {
	color: #333333;
	font-family: 'Shadows Into Light', cursive;
	font-weight: normal;
	font-size: 2.8em;
	text-shadow: 1px 1px 0px #DBD2AB;
	margin: 0 auto;
	padding-left: 0.3em;
	position: relative;
	background-color: #DBD2AB;
}
#header p.loggedIn {
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 0.9em;
	text-shadow: 1px 1px 0px #DBD2AB;
	margin: 0 auto;
	padding-left: 2em;
	position: relative;
	background-color: #DBD2AB;
}
#header p.loggedIn b {
	text-decoration: underline;
}
#footer {
	width: 99%;
	height: 120px;
	margin: 0.6em auto 0em auto;
	padding: 0.2em;
	position: relative;
	border: solid #969089;
	border-width: 1px;
	background-color: #DBD2AB;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}